*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}
div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 50vh;
}
.btn{
    padding: 10px;
    width: 60px;
    background-color: lightsalmon;
    margin: 5px;
}
img{
    height: 150px;
    width: 150px;
    
}
.btn1:hover~img{

    transform: rotate(360deg);
    transition: all 9s;
}
.btn2:hover~img{
    transform: rotate(500deg);
    transition: all 8s;
}
.btn3:hover~img{
    transform: rotatez(700deg);
    transition: all 4s;
}
.btn4:hover~img{
    transform: rotate(1000deg);
    transition: all 1s;
}